doctype html
html
    head
        link(rel="stylesheet" href="style.css")
    body
        style.
            h1{
                color:red;
                text-decoration:underline;
            }
        - const myStyles={"text-align":"center","text-transform":"uppercase"}
        h1(style=myStyles) Hello from pug for another episode based on css