doctype html
html    
    body
        h1 Hello from pug
        p. 
            This is a multiline paragraph from the pug environement
            It is good to use this kind of framework
        ul
            li This is the item #1
            li This is the item #2
            li This is the item #3